:root {
    --form-background: #fff;
    --text-color: #000;
    --button-color: #596D48;
    --button-text-color: #fff;
    --input-border-color: #E5E7EB;
    --input-focus-border-color: blue;
    --input-error-border-color: red;
    --header-background: #f9fafb;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: var(--header-background);
}

.container {
    display: flex;
    height: 100%;
}

.left-side {
    width: 35%;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 20vh;
}

.logo-container img {
    width: 100px;
}

.logo-container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    margin: 0;
}

.credits {
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}

.credits a {
    color: white;
}

.right-side {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    padding: 0 3rem;
    margin-bottom: 2rem;
}

.header h2 {
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 80%;
}

.form-container {
    background-color: var(--form-background);
    padding: 2rem 3rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.form-header h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.form-row {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.form-group label {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.25rem;
}

.form-group input {
    padding: 0.5rem;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    font-size: 1rem;
}

.form-group input:focus {
    outline: none;
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.form-group input:invalid,
.form-group input.error {
    border-color: var(--input-error-border-color);
}

.form-footer {
    margin-top: 2rem;
}

.form-footer button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.form-footer button:hover {
    opacity: 0.9;
}

.form-footer p {
    margin-top: 1rem;
}

.form-footer a {
    color: var(--button-color);
    text-decoration: none;
    font-weight: bold;
}
