*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 320px;
}

.display {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    min-height: 24px;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.75);
}

.current-operand {
    min-height: 48px;
    font-size: 3rem;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.operator {
    background-color: #f9a825;
    color: white;
}

.operator:hover {
    background-color: #fbc02d;
}

#equals {
    background-color: #43a047;
    color: white;
}

#equals:hover {
    background-color: #66bb6a;
}

#clear, #backspace {
    background-color: #e53935;
    color: white;
}

#clear:hover, #backspace:hover {
    background-color: #ef5350;
}
