/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header, .hero, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-links a {
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 50px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
    margin-bottom: 10px;
}

.hero-image {
    background-color: #6d747d;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

.info {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 40px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-box {
    width: 150px;
}

.info-image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 5px;
    overflow: hidden; /* To clip the image within the border-radius */
}

.info-image-actual {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.info-box p {
    font-size: 14px;
    color: #555;
}

.quote {
    background-color: #E5E7EB;
    padding: 80px 20%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin: 0;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.cta-content {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    border-radius: 8px;
}

.cta-content h3 {
    margin: 0;
    font-size: 24px;
}

.cta-content p {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.cta-content button {
    border: 2px solid #F9FAF8;
}

.footer {
    text-align: center;
    padding: 30px 0;
}
