body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 1px solid black;
}

.grid-square {
    background-color: white;
    /* No margin or border here to avoid size issues */
}

.hovered {
    background-color: black;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
